body {
    margin: 0;
    padding: 0;
    background-image: url("images/theme.png");
    background-size:auto;
    animation: scrollAnimation 30s linear infinite alternate;
}

@media only screen and (max-width: 1024px) {
    body {
        background-attachment: fixed;
    }
}

@keyframes scrollAnimation {
    0% { background-position: 100% 0; } /* Z prawej strony */
    100% { background-position: 0 0; } /* Do lewej strony */
}
@font-face {
    font-family: navFont;
    src: url(fonts/BAHNSCHRIFT.TTF);
}

@font-face {
    font-family: mainFont;
    src: url(fonts/Lobster-Regular.ttf);
}

header {
    width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #AAF0D1;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: navFont;
    padding-left: 0; 
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    position: relative;
}

li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.5s;
    position: absolute;
    left: 15%;
    bottom: 20px; 
}

li a:hover {
    background-color: #51b96b;
}

li a:hover::after {
    width: 70%;
}

#contact {
    margin: 5% auto;
    width:30%;
    background-color: #AAF0D1;
    padding: 25px;
    border-radius: 15px;
    border: black solid 2px;
    font-family: navFont;
    gap: 20px;
    animation: slideInFromLeft 1s ease-out;
}

#contact {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

#dc{
    display: flex; 
    width: fit-content;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    font-size: 20px;
    font-family: navFont;
    margin: auto auto 50px auto;
    
}

#dc img{
    transition: transform 1s ease-in-out;
}

#dc:hover img{
    transform: rotate(360deg);
}

#fb{
    display: flex; 
    width:fit-content;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    font-size: 20px;
    font-family: navFont;
    margin: auto;
    font-family: navFont;
}

#fb img{
    transition: transform 1s ease-in-out;
}

#fb:hover img{
    transform: rotate(360deg);
}

#map {
    width: fit-content;
    margin:auto;
    text-align: center;
    transition: transform 0.5s;
    padding: 25px;
    font-size: 20px;
    font-weight: 700;
    font-family: navFont;
    border-radius: 15px;
    border: black solid 2px;
    background-color: #AAF0D1;
    animation: slideInFromRight 1s ease-out;
}

#map iframe {
    border-radius: 15px;
    transition: transform 0.7s, box-shadow 0.5s;
}

#map:hover iframe {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

footer {
    background-color: #AAF0D1;
    text-align: center;
    font-family: navFont;
    font-size: 20px;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#main{
    display: flex;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
